<footer class="footer">
  <div class="contact">
    <div class="container">
      <%- partial('social-links') %>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <span><%- __('copy.dev_with') %> <i class="fa fa-heart"></i> <%- __('misc.by') %> Bruno Carvalho &copy; <%= moment(Date.now()).year() %></span>
    </div>
  </div>
</footer>
