<header class="header">
  <div class="container">
    <div class="inner">
      <h1 class="brand">
        <a href="<%- url_for_lang('') %>"><span class="firstname text-swipe" data-text="Bruno">Bruno</span><span class="lastname text-swipe" data-text="Carvalho">Carvalho</span></a>
      </h1>
      <nav class="navigation">
        <%- header_menu('main-nav') %>
      </nav>
    </div>
  </div>

  <%- partial('lang-switcher') %>
</header>
