<section class="intro">
  <div class="inner">
    <h1 class="brand"><span class="firstname" data-text="Bruno">Bruno</span><span class="lastname" data-text="Carvalho">Carvalho</span></h1>
    <h2 class="tagline"><strong data-text="<%- __('intro.tagline') %>" class=" text-swipe"><%- __('intro.tagline') %></strong><span class="tagline-title">Front End Engineer</span></h2>
    <div class="loader"></div>
  </div>
</section>
